{% extends 'layout.html' %}

{% block body %}

    <center><h1>Welcome to Chore Tracker!</h1>

        <div class = "jumbotron">
        <text>Please use this website to create and track chores for your kids!</text> <br>
        <text> Parent: login to add new chores and to view chores that you child has completed<br>
            Children: go to chore upload to upload completed chores
        </text>
        </div>
        <div>
            <h1>Todo list:</h1>
            <p id="chore" hidden>{{chores}}</p>
            <table class="table" id="area">
                <tr>
                    <th scope="col">Chore</th>
                    <th scope="col">Description</th>
                </tr>
            </table>
        </div>
        </center>

    <script>
        var x = document.getElementById("chore").innerHTML;
        console.log(x);
        var y = x.split('`');
        var chores = [];
        for(var i = 0; i < y.length; i++) {
            if(y[i] != "[]" && y[i] != "") {
                chores.push(y[i].substring(1, y[i].length - 1));
            }
        }
        for(var i = 0; i < chores.length; i++) {
            chores[i] = chores[i].split(", ");
            for(var j = 0; j < chores[i].length; j++) {
                chores[i][j] = chores[i][j].substring(1, chores[i][j].length - 1);
            }
        }

        console.log(chores);

        for(var i = 0; i < chores.length; i++) {
            var tr = document.createElement("TR");
            var td1 = document.createElement("TH");
            td1.setAttribute("scope", "row");
            var td2 = document.createElement("TD");
            var c = document.createTextNode(chores[i][0]);
            var d = document.createTextNode(chores[i][1]);

            td1.appendChild(c);
            td2.appendChild(d);

            tr.appendChild(td1);
            tr.appendChild(td2);

            document.getElementById("area").appendChild(tr);
        }

    </script>


{% endblock %}