{% extends 'layout.html' %}

{% block body %}
    <center>
    <h1>Welcome! You are a power user.</h1>
    <a href="file://DATABASE.csv">Click here to view Completed Chores!</a>
    <br>
    <a href="DATABASE.csv" download> Click here to download and view Completed Chores!</a>
    <br>
    <a href="/checklist">Click here to Add to Checklist</a>
    <br>
    <a href="/delete">Click here to Delete</a>
    <br>
    <a &nbsp; href="/upload">Click here to upload</a>
    <br>
    <br>
    <a href="/logout">Click here to Log Out</a>
    <body style="background-color:lightgreen">
    </body>
    </center>
{% endblock %}