{% extends 'layout.html' %}

{% block body %}
    <style>
        .button {
            background-color: lightblue;
            border: outset;
            color: white;
            padding: 15px 30px;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
        }
        body {
            background-image: url(chores.jpg);
        }
    </style>
    <center><h1>Welcome to Chore Tracker!</h1>
        <br> <text>Please use this website to create and track chores for your kids!</text> <br> <br>
        <a href = "login.html" class = button> Click Here to Login </a>
        <br>
        <a href="/upload">Click Here to Add a Chore</a>
        <br>
        <a href="/checklist">Click Here to Access the Checklist</a></center>
{% endblock %}